.card_value {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.card_value__label {
	font-size: 16px;
	color: #6d6ba2;
}

.card_value__value {
	font-size: 28px;
	font-weight: 600;
	color: #f8b11b;
}
