.labeled_card {
	position: relative;
	margin-top: 23px;
	padding-top: 36px !important;
}

.labeled_card__label {
	position: absolute;
	padding: 8px 20px 7px;
	top: -16px;
	left: 50%;
	white-space: nowrap;
	color: #0b0a18;
	background-image: linear-gradient(#f8b11b, #f38d23);
	transform: translateX(-50%);
}
