.error {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 300px;
	text-align: center;

	h2 {
		margin-bottom: 6px;
		font-weight: 600;
		font-size: 38px;
	}

	em {
		color: #454368;
	}
}
