.popover_wrapper {
	display: inline-flex;
	position: relative;

	&:hover .popover {
		opacity: 1;
		visibility: visible;
		transform: translate(-50%, calc(-100% - 10px));
	}
}

.popover {
	border: 2px solid #0b0a18;
	box-shadow: 0 6px 28px 6px rgba($color: #0b0a18, $alpha: 0.8);
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, calc(-100% + 6px));
	z-index: 8;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s cubic-bezier(0.75, -0.02, 0.2, 0.97);
	pointer-events: none;

	span {
		display: inline-block;
		border: 2px solid #ffffff;
		padding: 6px 12px 5px;
		font-size: 16px;
		text-align: center;
		white-space: nowrap;
		color: #ffffff;
		background-image: linear-gradient(#161431, #0b0a18);
	}
}

.info {
	cursor: help;

	.popover span {
		border-color: #161431;
		color: #5c5a80;
	}
}
