@import url('https://use.typekit.net/emr5ugi.css');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote,
q {
	&:before,
	&:after {
		content: '';
		content: none;
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}

input,
label,
select,
button,
textarea {
	margin: 0;
	border: 0;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
	white-space: normal;
	background: none;
	line-height: 1;
}

input,
select {
	&:focus {
		outline: 0;
	}
}

input,
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

button,
input[type='reset'],
input[type='button'],
input[type='submit'],
input[type='checkbox'],
input[type='radio'],
select {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input[type='search'] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
}

::-webkit-search-decoration {
	display: none;
}

button,
input[type='reset'],
input[type='button'],
input[type='submit'] {
	overflow: visible;
	width: auto;
}

::-webkit-file-upload-button {
	padding: 0;
	border: 0;
	background: none;
}

textarea {
	vertical-align: top;
	overflow: auto;
}

select[multiple] {
	vertical-align: top;
}

/* ============================================== */

body,
input {
	font-family: 'roc-grotesk', sans-serif !important;
	font-size: 16px;
	font-style: normal;
	color: #ffffff;
}

input::-webkit-input-placeholder {
	color: #6d6ba2;
}

body {
	background-color: #0b0a18;

	&::before {
		content: '';
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-image: url('../assets/background.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: -1;
	}
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

b {
	font-weight: 600;
}

p {
	line-height: 28px;

	&:not(:last-child) {
		margin-bottom: 12px;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	&:not(:first-child) {
		margin-top: 2em;
	}

	&:not(:last-child) {
		margin-bottom: 1em;
	}
}

h1 {
	font-size: 50px;
}

h2,
h3,
h4,
h5,
h6,
a {
	color: #f8b11b;
}

a:hover {
	color: #ffffff;
}

sub,
sup {
	font-size: 12px;
	font-weight: 400 !important;
	color: #f8b11b;
}
sub {
	vertical-align: text-bottom;
}
sup {
	vertical-align: text-top;
}
